.panel-style1{
	border: 3px solid #ff6666;
	border-style: inset;
}
.whiteBG{
	background-color: white !important;
}
.header{
	background-color: #902278!important;
	padding: .4rem .5rem !important;
}
.header-hover{
	background-color: #d345b5 !important;
	padding: .4rem .5rem !important;
}
.fix-table{
	max-height: 700px;
	overflow-y: scroll
}
.table-header-text{
	cursor: pointer;
    font-weight: bold !important;
    color: black !important;
}
.table-header-size{
	height: 10px !important
}
.borderTop{
	border-top: 5px !important;
}
.buttonText{
	color: #902278!important;
	text-shadow: 0 0px 0 #902278!important;
}
.small-width{
	width: 30px !important;
}
.dialog-header-text{
	 font-weight: bold !important;
    color: black !important;
}
.select-hover:hover{
	border: 2px solid #902278 !important;
}
.select-hover:focus{
	border: 1px solid #902278 !important;
}
.search-hover:hover{
	border-color: #902278 !important;
	border: 2px solid #902278 !important;
}
.search-hover:active{
	border-color: #902278 !important;
	border: 2px solid #902278 !important;
}
.link{
	
}